{
  "presets": [
    "@morlay/babel-preset",
    "react"
  ],
  "plugins": [
    "transform-es2015-modules-commonjs",
    [
      "system-import-transformer",
      {
        "modules": "common"
      }
    ],
    [
      "module-alias",
      [
        {
          "src": "./modules",
          "expose": "modules"
        }
      ]
    ]
  ],
  "env": {
    "node": {
      "plugins": [
        [
          "webpack-loaders-inline-exports",
          {
            "config": "./webpack.config.js"
          }
        ]
      ]
    }
  }
}