.root {
  display: flex;
  align-items: center;
  vertical-align: middle;
  line-height: inherit;

  & > svg {
    display: block;
    flex: 1;
    font-size: inherit;
    box-sizing: border-box;

    width: 1em;
    height: 1em;

    * {
      fill: inherit;
    }
  }
}